@font-face {
    font-family: "Norse-Bold";
    src: url("../fonts/Norse-Bold.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

/* font-family: 'Overpass', sans-serif; */

:root {
    --green: #596D48;
    --light-grey: #E5E7EB;
    
}